:root {
    --primary-color: #0084FD;
    --secondary-color: #9792E4;
    --lightblue: #B5DDFF;
    --darkgray: #333333;
    --text-black: black;
    --text-white: white;

    --base-spacing-grid: 1rem;
    --big-spacing-grid: 2rem;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Akatab', sans-serif;
}

p {
    line-height: 1.5rem;
  }

img {
    width:100%;
}

/*LAYOUT*/
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 1rem;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
}

.col {
    padding: 1rem;
}

.m-top-2rem {
    margin-top: 2rem
}


/*SECTION*/

section:nth-of-type(even) {
    background-color: var(--secondary-color);
}

section {
    margin-top: 2rem;
}

.card {
    border-radius: 30px;
}




    /*Header*/

#header {
    height: 80px;
    line-height: 80px;
}

#header > .container {
    display: flex;
    background-color: var(--primary-color);

    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    color: white;
}

.logo {
    width: 50px;
}

    /*Section-1*/

#section-1 .card {
    background-color: var(--lightblue);
    padding: 2rem;
    height: 100%;

    text-align: center;
}

#section-1 .card.lg {
    padding-bottom: 0;
}

.txt-left {
    text-align: left;
}

.app-store {
    background-color: var(--primary-color);
    color: white;

    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

#section-1 .phone-image {
    width: 75%;
}

#section-1 h2 {
    color: var(--primary-color);
}

#section-1 .fa-solid {
    font-size: 5rem;
    color: var(--primary-color);
}

  /*Section-2*/

  #section-2 h1 {
    color: white;
  }

  .col.top p {
    color: white;
  }

  .col.bottom > .card {
    background-color: white;
    padding: 1rem;
    text-align: center;
  }

  .arrow-down {
    display: inline-block;
    background-color:var(--secondary-color);
    padding: 0.8rem;
    border-radius: 50%;
  }

    /*Section 3*/

#section-3 .card {
    background-color: var(--secondary-color);
    color: white;

    text-align: center;
    padding: 2rem 1rem;
}

#section-3 img {
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;
    width: 85%;
}

.content p:last-child {
    margin-top: 2rem;
    font-weight: bold;
}

.image {
    width: 50%;
    display: inline-block;
}

.testimonials {
    text-align: center;
}
.testimonials h2 {
    color:var(--secondary-color);
}

.testimonials p {
    margin:1rem ;
}

        /*Section-4*/

#section-4 .card {
    background-color: white;

    padding: 1.5rem;
}

#section-4 h3 {
    color:var(--secondary-color);
}

#section-4 .big-font {
    font-size: 3rem;
    color:var(--secondary-color);
}

.benefits {
    color: white;
    padding:2rem;
    text-align: center;
}

    /*Section-5*/

#section-5 h1 {
    font-size: 3rem;
    color:var(--secondary-color)
}

#section-5 p{
    margin-top: 1rem;
}

#section-5 img {
    border-radius: 50%;
    width: 50%;
}

/*#section-5 .quote {
    position: relative;
}

.quote .fa-quote-left {
    position:absolute;
    top:0;
    right:0;

    font-size: 3rem;
    color:var(--secondary-color)

}

*/


#section-5 h2 {
    color: var(--secondary-color);
    margin-top: 1rem;
}
#section-5 span {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
}

.fa-linkedin {
    padding-right: 0.5rem;
}

        /*Section-6*/

#section-6 {
    text-align: center;
}
#section-6 p {
    margin-top: 3rem;
    color: white;
}

#section-6 .start {
    color:#c9c7e6;
    padding-top: 2rem;
}

#section-6 .simple {
    font-size:1.8rem; 
    font-weight: bold;
}

#section-6 .free {
    color: rgb(224, 195, 77);
    font-size: 5rem;
}

#section-6 span {
    display: inline-block;

    background-color: white;
    color:var(--secondary-color);
    font-size: 1.5rem;

    padding: 1rem 5rem;
    border-radius: 40px;
    margin-top: 3rem;

}



/*RESPONSIVE*/

    /*tablet*/

        /*section-1*/

@media screen and (min-width: 576px) {

    #section-1 .row {
        display: flex;
        flex-wrap: wrap;
    }

    #section-1 .col {
        width: calc(100%/3);
    }

    #section-1 .col:first-child {
        width: calc(100%/3*2);
    }

        /*section-3*/
    #section-3 .card {
        display: flex;
        align-items: center;
    }

    .content p {
        text-align: left;
    }

        /*section-4*/
    #section-4 .row {
        display: flex;
        flex-wrap: wrap;
    }

    #section-4 .col {
        width: calc(100%/2);
    }

        /*section-5*/
    #section-5 .row {
        display: flex;
    }

    #section-5 .col:first-child{
        width: calc(100%/3*2);
    }
    #section-5 .col:last-child{
        width: calc(100%/3);
    }


}
    /*dekstop*/

        /*section-1*/

@media screen and (min-width: 1000px) {
    .container {
        max-width: 1140px;
    }

    #section-1 .col:first-child .card {
        display: flex;
    }

    #section-1 .card >.card-section {
        width: 50%;
    }

        /*section-2*/

    #section-2 .row {
        display: flex;
    }

    #section-2 .col {
        width: 50%;
    }
    
    .col.bottom {
        display: flex;
        align-items: flex-end;
        width: 50%;
    }

        /*section-4*/

    #section-4 .col{
        width: calc(100%/3);
    }


}